<p>Bonjour {{username}},</p>
<p>Un dossier a été partagé avec vous !</p>
  <p>Cher utilisateur, vous avez un nouveau courier.</p>
  <p>Numéro du Dossier : {{folderNumber}}</p>
  <p>Nom du Dossier : {{folderName}}</p>
  <p>Cordialement BAGRI E-PARAPHEUR</p>