<p>Bonjour {{username}},</p>
  <p>Cher utilisateur, vous êtes prié de vous rendre sur e-parapheur afin de signer un document.</p>
  <p>Numéro du Dossier : {{folderNumber}}</p>
  <p>Nom du Document : {{documentName}}</p>
  <p>Cordialement</p>