<p>Bonjour {{username}},</p>
  <p>Cher utilisateur, vous êtes prié de vous rendre sur e-parapheur afin de signer un dossier.</p>
  <p>Numéro du Dossier : {{folderNumber}}</p>
  <p>Nom du Dossier : {{documentName}}</p>
  <p>Cordialement BAGRI E-PARAPHEUR</p>